<!Doctype HTML>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="./edit.css" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo">NeroPay <span class="menu">☰</span></p>
	<p class="logo1"> <span class="menu1">☰</span></p>
  <a href="/set" class="icon-a"><i class='bx bxs-dashboard bx-tada bx-rotate-90' ></i></i>   Главное</a>
  <a href="./form.html"class="icon-a"><i class='bx bxs-shopping-bags bx-tada bx-rotate-90'></i>  Платежи</a>
  <a href="./form1.html"class="icon-a"><i class='bx bx-transfer-alt bx-tada bx-rotate-90'></i>   Переводы</a>
  <a href="./form2.html"class="icon-a"><i class='bx bx-repost bx-tada bx-rotate-90' ></i>  Поплнение</a>
  <a href="./form3.html"class="icon-a"><i class='bx bx-wallet bx-tada bx-rotate-90'></i>   Карты</a>
  <a href="./form4.html"class="icon-a"><i class='bx bx-history bx-tada bx-rotate-90' ></i>   История операции</a>
  <a href="./form5.html"class="icon-a"><i class='bx bxs-chat bx-tada bx-rotate-90' ></i>   Чат</a>
  <a href="./form6.html"class="icon-a"><i class='bx bx-user bx-tada bx-rotate-90'></i>  Служба поддержки</a>
  <a href="#"class="icon-a"><i class='bx bxs-cog bx-tada bx-rotate-90' ></i>   Профиль</a>


</div>
<div id="main">

	<div class="head">
		<div class="col-div-6">
<p class="nav">Профиль </p>

</div>
	
<div class="col-div-6">
    <i class="fa fa-search search-icon"></i>

    
    <i class="fa fa-bell noti-icon"></i>
    <div class="notification-div">
        <p class="noti-head">Уведомление <span>2</span></p>
        <hr class="hr" />
        <p>Платеж исполнен
            <span>Поплнение 400р </span>
        </p>
        <p>Платеж исполнен
            <span>Поплнение 400р </span>
        </p>
    </div>
<div class="profile">

    <img src="image/books.png" class="pro-img" />
    <p>User <i class="fa fa-ellipsis-v dots" aria-hidden="true"></i></p>
    <div class="profile-div">
        <p><i class="fa fa-user"></i>   Профиль</p>
        <p><i class="fa fa-cogs"></i>   Настройки</p>
        <p><i class="fa fa-power-off"></i>   Выход</p>
    </div>
</div>
</div>
<div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<br/>